:root {
  --meta-black: #141414;
  --gray: #52576B;
  --light-gray: #E7E9F1;
  --meta-blue: #080F2B;
  --meta-yellow: #FFA300;
  --violet: #90A2E3;
  --magazine-blue: #0029FF;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  color: var(--meta-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1328px;
  padding-inline: 24px;
  margin-inline: auto;
}